.navBar>:nth-child(1) {
  background-color: var(--bg-primary);
  height: 26px;
}

.navBar>:nth-child(1)>* {
  max-height: 16px;
}

.navBar>:nth-child(1) * {
  color: white;
}

.navBar>:nth-child(2) {
  min-height: 60px;
}

.navBar>:nth-child(3) {
  max-height: 60px;
}

.navBar__logo {
  min-height: 46px;
  width: 169.46px;
}
